[Unit]
Description=Throttle system CPU frequency based on a maximum temperature

[Service]
ExecStart=/usr/sbin/temp-throttle
Type=simple

[Install]
WantedBy=multi-user.target
