[Unit]
Description=Throttle system CPU frequency based on a maximum temperature

[Service]
ExecStart=/usr/sbin/temp_throttle
#ExecStart=/usr/sbin/temp_throttle %i # Optional arguement, config file.
Type=simple

[Install]
WantedBy=multi-user.target
